/* CustomChatBot.css */

.CustomChatBot {
    position: fixed;
    top:-50px;
    bottom: 1px; /* Adjust as needed to control the vertical position */
    right: 10px; /* Adjust as needed to control the horizontal position */
  }
  