@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

.home-container {
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 50%, #fcad92 100%);
}

header {
  background-color: #333; /* Change header background color */
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}

p {
  font-size: 1.2rem; /* Increase font size */
  color: #555; /* Change text color */
  font-weight: normal; /* Remove bold text */
  text-transform: none; /* Remove uppercase text */
  letter-spacing: 0; /* Remove letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Remove text shadow */
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.feature {
  background-color: #f2f2f2; /* Change feature background color */
  border-radius: 5px; /* Reduce border radius */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 15px;
  width: 300px;
  text-align: center;
  animation: glow 2s alternate infinite;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 
      0 0 25px rgba(0, 255, 0, 0.6), /* Green glow */
      0 0 30px rgba(111, 243, 234, 0.4), /* Blue glow */
      0 0 40px rgba(126, 227, 158, 0.2); /* Green glow */
  }
}

.image-slider {
  margin-top: 20px; /* Adjust margin */
  text-align: center;
}

.dhiyanesh {
  font-size: 1.1rem; /* Adjust font size */
  color: #4287f5; /* Change text color */
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.alice-carousel {
  width: 100%;
}

.alice-carousel img {
  margin-top: 30px;
  width: 80%; /* Adjust image width */
  height: 290px; /* Maintain aspect ratio */
  border-radius: 1000px; /* Reduce border radius */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #ff9900; /* Change header background color */
  color: #fff;
  padding: 15px;
  text-align: center;
}

.marquee {
  font-size: 1rem;
  color: #e9e5e5; /* Text color */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Adjust letter spacing */
  text-shadow: 2px 2px 4px rgba(243, 240, 240, 0.2); /* Add a subtle text shadow */

  white-space: nowrap;
  overflow: hidden;
  animation: marquee 25s linear infinite;

}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 80%;
  }
}
